/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define QWERTY_L 0
#define DVORAK_L 1
#define COLEMK_L 2
#define NAV_L    3
#define SYM_L    4
#define ADJ_L    5
#define Undo   LC(Z)
#define Cut    LC(X)
#define Copy   LC(C)
#define Paste  LC(V)
#define Redo   LC(Y)

/ {
    keymap {
        compatible = "zmk,keymap";

        colemak_layer {
            /* COLEMAK-DH
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | `     |   Q   |   W   |   F   |   P   |   B   |-----------------------------------|   J   |   L   |   U   |   Y   |   ;   | BKSPC |
 * | TAB   |   A   |   R   |   S   |   T   |   G   |-----------------------------------|   M   |   N   |   E   |   I   |   O   | ENTER |
 * | SHIFT |   Z   |   X   |   C   |   D   |   V   |   '   |-------------------|   /   |   K   |   H   |   ,   |   .   |  Up   | SHIFT |
 * | Mute  |  ESC  | CTRL  |-------|  GUI  |  ALT  |SK SHFT|  Nav  |---|  Sym  | SPACE |  ALT  |  GUI  |-------| Left  | Down  | Right |
 */

            bindings = <
&kp TAB     &kp Q  &kp W  &kp F  &kp P     &kp G                                                                  &kp J      &kp L  &kp U      &kp Y     &kp SEMI  &kp DELETE
&kp ESCAPE  &kp A  &kp R  &kp S  &kp T     &kp D                                                                  &kp H      &kp N  &kp E      &kp I     &kp O     &kp APOSTROPHE
&kp LCTRL   &kp Z  &kp X  &kp C  &kp V     &kp B            &none                                &none            &kp K      &kp M  &kp COMMA  &kp DOT   &kp UP    &none
&kp GRAVE   &kp E  &none         &kp LGUI  &lt 1 BACKSPACE  &sk LSHIFT  &kp LEFT_ALT  &kp ENTER  &kp RIGHT_SHIFT  &kp SPACE  &none             &kp LEFT  &kp DOWN  &kp RIGHT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        symbol_layer {
            bindings = <
&trans  &kp HOME         &kp N7  &kp N8  &kp N9  &kp QUESTION                                                &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp UP          &kp LESS_THAN  &kp GREATER_THAN  &kp CAPSLOCK
&trans  &kp N0           &kp N4  &kp N5  &kp N6  &kp LEFT_PARENTHESIS                                        &kp MINUS         &kp LEFT_ARROW     &kp DOWN_ARROW  &kp RIGHT      &kp SLASH         &kp BACKSLASH
&trans  &kp EXCLAMATION  &kp N1  &kp N2  &kp N3  &kp RIGHT_PARENTHESIS  &bootloader                  &trans  &kp UNDERSCORE    &kp EQUAL          &kp PLUS        &kp HASH       &kp AT_SIGN       &kp END
&trans  &trans           &trans          &trans  &trans                 &trans       &trans  &trans  &trans  &trans            &trans                             &trans         &trans            &trans
            >;
        };
    };
};
